* {
    box-sizing: border-box;
    /* 把 padding 及 border 尺寸算入 */
}

.header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(-45deg, rgb(190, 96, 202) 0%, rgb(61, 4, 66) 100%);
    padding: 30px;
    z-index: 8;
}

.menu {
    margin-left: auto;
    font-family: Tahoma;
}

.logo img {
    width: 40px;
    height: 40px;
}

.linkedin img {
    width: 40px;
    height: 40px;
}


.content {
    /* background: rgba(139, 94, 145, 0.733); */
    width: 70%;
    height: 70%;
    margin: 200px auto;
    margin-bottom: 30px;
    z-index: 10;
}

.row {
    display: flex;
    align-items: center;
}

.row>div {
    flex: 1 0 50%;
}

.text {
    position: relative;
    /* 為了用z-index */
    padding-left: 20px;
    z-index: 1;
    /* 文字浮上來 */
}

.menu a {
    display: inline-block;
    padding: 10px 16px;
    width: 120px;
    text-align: center;
    background: rgb(226, 179, 245);
    border-radius: 9999px;
    margin-right: 20px;
    color: #333;
    text-decoration: none;
}

.menu a:hover {
    background: rgb(173, 129, 190);
}


body {
    margin: 0;
    /* 移除白邊 */
    min-height: 100vh;
    background-color: #e493d0;
    background-image:
        radial-gradient(closest-side, rgba(235, 105, 78, 1), rgba(235, 105, 78, 0)),
        radial-gradient(closest-side, rgba(243, 11, 164, 1), rgba(243, 11, 164, 0)),
        radial-gradient(closest-side, rgba(254, 234, 131, 1), rgba(254, 234, 131, 0)),
        radial-gradient(closest-side, rgba(170, 142, 245, 1), rgba(170, 142, 245, 0)),
        radial-gradient(closest-side, rgba(248, 192, 147, 1), rgba(248, 192, 147, 0));


    background-size:
        130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax, 110vmax 110vmax, 90vmax 90vmax;

    background-position:
        -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -30vmax, 50vmax 50vmax;
    font-family: 'Titillium Web';
    /*'Courgette', cursive;*/
    background-repeat: no-repeat;
    animation: movement linear infinite 6s;
    z-index: -11;

}

body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -10;
}

@keyframes movement {

    0%,
    100% {
        background-size:
            130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax, 110vmax 110vmax, 90vmax 90vmax;

        background-position:
            -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -30vmax, 50vmax 50vmax;
    }

    25% {
        background-size:
            100vmax 100vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 60vmax 60vmax;

        background-position:
            -60vmax -90vmax, 50vmax -40vmax, 0vmax -20vmax, -40vmax -20vmax, 40vmax 60vmax;
    }

    50% {
        background-size:
            80vmax 80vmax, 110vmax 110vmax, 80vmax 80vmax, 60vmax 60vmax, 80vmax 80vmax;

        background-position:
            -50vmax -70vmax, 40vmax -30vmax, 10vmax 0vmax, 20vmax 10vmax, 30vmax 70vmax;
    }

    75% {
        background-size:
            90vmax 90vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 70vmax 70vmax;

        background-position:
            -50vmax -40vmax, 50vmax -30vmax, 20vmax 0vmax, -10vmax 10vmax, 40vmax 60vmax;
    }
}

.project{
    z-index: 9;
}

.portfolio_title {
    display: block;
    color: black;
    text-align: center;
    font-size: medium;
    margin-top: 10%;
    padding: 10px;
    z-index: 9;
}
.container {
    display: flex;
    margin-top: 10px;
    padding: 50px;
    /* overflow-x: scroll; */
}
.item {
    flex-grow: 1;
    flex-shrink: 0; /*不要還債 不變小*/
    flex-basis: 300px; /*裡面變寬*/
    height: 660px;
    background: rgb(231, 216, 238);
    border: 10px solid #fff;
    box-shadow: 0 0 10px #000;
    border-radius: 20px;
    transition: all .4s;
    max-width: 500px;
    overflow: hidden;
    padding: 20px;
} 

/* 除了第一個item都要 */
.container .item:not(:first-child) { 
    margin-left: -70px;
}
.item:hover {
    transform: translate(15px, -30px) rotate(-10deg);
}
.item:hover~.item {
    transform: translateX(120px);
}
/* .item img {
    transform: scale(0.8);
    margin-top: -5%;
    height: 70%;
    width: 70%;
} */

.btn-top {
    display: block;
    position: fixed;
    right: 30px;
    bottom: 200px;
    width: 60px;
    height: 60px;
    padding-top: 24px;
    background: rgb(117, 6, 30);
    border-radius: 50%;
}

.btn-top span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 auto;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(45deg);
}

.btn-top:hover {
    background: rgb(156, 17, 47);
}

.footer {
    background: rgb(48, 46, 51);
    padding: 40px 0;
    color: #fff;
    margin: 0 auto;
}

.sitemap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 3;
    font-family: 'La Belle Aurore', cursive;
    font-size: 20PX;
}
